* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS for all outside area colour */
body {
  background-color: gray;
}

/*CSS for main container box that holds div=calendar*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.calendar {
  width: 400px;
  /* background-color: rgb(255, 255, 255); */
  /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6); */
}

/* top is for Logo and Heading "Calendar" */
.top {
  display: flex;
  width: 100%;
  background-color: rgb(20, 8, 92);
  text-align: center;
  color: #71acde;
  padding: 10px;
  justify-content: center;
}

/* CSS for Month and Year portion with control */
.month,
.year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1vh;
  background-image: url(control_bg.jpg);
  text-align: center;
  color: rgb(131, 201, 175);
  padding: 40px 30px;
}
button {
  background: none;
  color: rgb(131, 201, 175);
  border: 0;
  padding: 10px;
}

/* CSS for Lower portion Days and Dates wrapping for stop overflow*/
.dates,
.days {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px 0;
  background-image: url(dates_bg.jpg);
  color: antiquewhite;
}

/* CSS for Days and Dates calculation for align equally from each other */
.dates div,
.days div {
  width: 14.28%;
  text-align: center;
  transition: all 0.4s ease;
  cursor: pointer;
  margin-bottom: 10px;
}

/* CSS for Hover */
button:hover {
  background-color: rgb(131, 201, 175);
  color: rgb(11, 2, 52);
  cursor: pointer;
  border-radius: 100%;
  transition: all 1s ease;
}
.cells:hover {
  background-color: rgb(85, 134, 219);
  color: aliceblue;
  border-radius: 10px;
}

/* CSS for Current Date in Dates */
.today {
  background-color: rgb(131, 201, 175);
  border: 2px solid silver;
  color: rgb(9, 21, 23);
  border-radius: 70%;
  font-weight: bold;
}
